:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-colour: #032B43;
  --primary-colour: #E55812;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-colour);
  color: var(--white);
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  margin-top: 0;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}